
/*@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
font-family: 'Aladin', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
html{
    height: 100%;
    
}

body{
    height:100%;
    background-color: #111d5e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Rye', cursive;
    

}

.head{
    color:#c70039;
    font-size: 80px;
}



.inst{
    color: #ffbd69;
}

.game{
    /*position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);*/
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    padding: 15px;
    background-color: #c70039;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px ;
    border: 2px solid black;
}

.grid button{
    background-color: #ffbd69 ;
    color:#c70039;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid black;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in;
    font-family: 'Rye', cursive;
    
}

.grid button:hover{
    background-color: #f37121;
    color:#111d5e;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    transform: rotate(10deg);
}

.footer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    
}

.footer button{
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    padding: 5px;
    width: 80px;
    background-color: #111d5e;
    color: #f37121;
    outline: none;
    cursor: pointer;
    font-family: 'Rye', cursive;
}

.footer button:hover{
    color: #111d5e;
    background-color: #f37121;
}

.footer span{
    flex:1;
    text-align: center;
    font-size: 25px;
    color: #111d5e;
    font-weight: bold;
    margin: 0 auto;
}


.message{
    color: #f37121;
    height: 80px;

}