html{
    height: 100%;
}

body{
    height:100%;
    background-color: #111d5e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.game{
    /*position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);*/
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    padding: 15px;
    background-color: #c70039;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px ;
    border: 1px solid black;
}

.grid button{
    background-color: #cfcfcf ;
    color:blue;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in;
    
}

.grid button:hover{
    background-color: pink ;
    color:blue;
    font-size: 50px;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}

.footer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.footer button{
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
    padding: 5px;
    width: 80px;
    background-color: yellow;
    color: royalblue;
    outline: none;
    cursor: pointer;
}

.footer button:hover{
    color: yellow;
    background-color: blue;
}

.footer span{
    flex:1;
    text-align: center;
    font-size: 20px;
    color: yellow;
    font-weight: bold;
    margin: 0 auto;
}


.message{
    color:blue;
    height: 80px;

}